<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OILS Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="oildetails">
  
  <ng-container *ngIf="Isloading">

    <ion-item class="details_heading" [innerHTML]="getList.eo | safe: 'html'">
      <ion-icon name="heart-outline" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <img src="{{getList.file_path}}" >
    </ion-item>

    <ion-list *ngIf="getList">
      <ion-list-header>
        Scientific Name
      </ion-list-header>
      <p [innerHTML]="getList.scientific_name | safe: 'html'"></p>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Benefits
      </ion-list-header>
        <p [innerHTML]="getList.benefits | safe: 'html'"></p>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Main Usage
      </ion-list-header>
        <p [innerHTML]="getList.main_usage | safe: 'html'"></p>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Also In
      </ion-list-header>
        <p [innerHTML]="getList.also_in | safe: 'html'"></p>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Aromatic</ion-label>
        <ion-checkbox  *ngIf="getList.aromatic==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.aromatic==1" disabled=true checked=true></ion-checkbox>

      </ion-item>

      <ion-item>
        <ion-label>Topical</ion-label>
        <ion-checkbox  *ngIf="getList.topical==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.topical==1" disabled=true checked=true></ion-checkbox>

      </ion-item>

        <ion-item>
        <ion-label>Internal</ion-label>
        <ion-checkbox  *ngIf="getList.internal==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.internal==1" disabled=true checked=true></ion-checkbox>

      </ion-item>

        <ion-item>
        <ion-label>Neat</ion-label>
        <ion-checkbox  *ngIf="getList.neat==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.neat==1" disabled=true checked=true></ion-checkbox>

      </ion-item>

        <ion-item>
        <ion-label>Sensitive Skin</ion-label>
        <ion-checkbox  *ngIf="getList.sensitive_skin==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.sensitive_skin==1" disabled=true checked=true></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Always Dilute</ion-label>
        <ion-checkbox  *ngIf="getList.always_dilute==0" disabled=true checked=false></ion-checkbox>
        <ion-checkbox  *ngIf="getList.always_dilute==1" disabled=true checked=true></ion-checkbox>
      
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Companion Oils
      </ion-list-header>
      <p [innerHTML]="getList.companion_oils | safe: 'html'"></p>
    </ion-list>


    <ion-list>
      <ion-list-header>
        Cautions
      </ion-list-header>
      <p [innerHTML]="getList.cautions | safe: 'html'"></p>
    </ion-list>

    <ion-list style="text-align: center; margin-bottom: 10px;">
      <button ion-button large (click)="opencomments()">User Contribution</button>
    </ion-list>

  </ng-container>

</ion-content>