page-oilsdetail {

ion-content
{
	background:#f1f1f1!important;
}

.details_heading
{
	background:#1d1d2d!important;
	color:#fff!important;
}

.oildetails ion-list-header
{
	background:#f1b136!important;
	color:#fff!important; 
}

.oildetails ion-list p,.oildetails ion-list b
{
	padding:0 15px!important;
}

.oildetails ion-list p
{
	padding-bottom:10px!important;
} 

}
