comments-modal {

.bottom_type_second
{
	text-align:center!important;	
}

.bottom_type_second,.bottom_type_first
{
	float:left!important;
}

.bottom_type_second button
{
	font-size: 34px!important;
    padding: 0!important;
}

.bottom_type_second button ion-icon
{
	color:#ff4182 !important;
}

.scroll-content
{
	background-color: #33334c!important;
}

}
