page-colors {

.colors h2
{
	color:#fff!important;
}

.color
{
    height: 75px;
    margin: 5px 0!important;
    float: left;
}

.color span
{
	border: solid 1px #fff;
    border-bottom: none;
}

.color1 span
{
    height: 15px;
    float: left;
    width: 100%;
}

.color1 span:nth-child(1)
{
	background:#4ABDAC!important;
}
.color1 span:nth-child(2)
{
	background:#FC4A1A!important;
}
.color1 span:nth-child(3)
{
	background:#F7B733!important;
}
.color1 span:nth-child(4)
{
	background:#DFDCE3!important;
}





.color2 span
{
	height:15px;
	float:left;
	width:100%
}

.color2 span:nth-child(1)
{
	background:#FFCE00!important;
}
.color2 span:nth-child(2)
{
	background:#0375B4!important;
}
.color2 span:nth-child(3)
{
	background:#007849!important;
}
.color2 span:nth-child(4)
{
	background:#262228!important;
}


.color3 span
{
	height:15px;
	float:left;
	width:100%
}

.color3 span:nth-child(1)
{
	background:#C0B283!important;
}
.color3 span:nth-child(2)
{
	background:#DCD0C0!important;
}
.color3 span:nth-child(3)
{
	background:#616161!important;
}
.color3 span:nth-child(4)
{
	background:#655353!important;
}


.color4 span
{
	height:15px;
	float:left;
	width:100%
}

.color4 span:nth-child(1)
{
	background:#E37222!important;
}
.color4 span:nth-child(2)
{
	background:#07889B!important;
}
.color4 span:nth-child(3)
{
	background:#66B9BF!important;
}
.color4 span:nth-child(4)
{
	background:#EEAA7B!important;
}





.color5 span
{
	height:15px;
	float:left;
	width:100%
}

.color5 span:nth-child(1)
{
	background:#0e0b16!important;
}
.color5 span:nth-child(2)
{
	background:#a239ca!important;
}
.color5 span:nth-child(3)
{
	background:#E7DFDD!important;
}
.color5 span:nth-child(4)
{
	background:#4717F6!important;
}




.color6 span
{
	height:15px;
	float:left;
	width:100%
}

.color6 span:nth-child(1)
{
	background:#4484CE!important;
}
.color6 span:nth-child(2)
{
	background:#D9D9D9!important;
}
.color6 span:nth-child(3)
{
	background:#F9CF00!important;
}
.color6 span:nth-child(4)
{
	background:#F19F4D!important;
}




.color7 span
{
	height:15px;
	float:left;
	width:100%
}

.color7 span:nth-child(1)
{
	background:#0B3C5D!important;
}
.color7 span:nth-child(2)
{
	background:#328CC1!important;
}
.color7 span:nth-child(3)
{
	background:#D9B310!important;
}
.color7 span:nth-child(4)
{
	background:#1D2731!important;
}



.color8 span
{
	height:15px;
	float:left;
	width:100%
}

.color8 span:nth-child(1)
{
	background:#286DA8!important;
}
.color8 span:nth-child(2)
{
	background:#CD5360!important;
}
.color8 span:nth-child(3)
{
	background:#B37D4E!important;
}
.color8 span:nth-child(4)
{
	background:#438496!important;
}


.color9 span
{
	height:15px;
	float:left;
	width:100%
}

.color9 span:nth-child(1)
{
	background:#C5C1C0!important;
}
.color9 span:nth-child(2)
{
	background:#1A2930!important;
}
.color9 span:nth-child(3)
{
	background:#0A1612!important;
}
.color9 span:nth-child(4)
{
	background:#F7CE3E!important;
}


.color10 span
{
	height:15px;
	float:left;
	width:100%
}

.color10 span:nth-child(1)
{
	background:#E5E338!important;
}
.color10 span:nth-child(2)
{
	background:#EC5768!important;
}
.color10 span:nth-child(3)
{
	background:#4EC5C1!important;
}
.color10 span:nth-child(4)
{
	background:#000000!important;
}




.color11 span
{
	height:15px;
	float:left;
	width:100%
}

.color11 span:nth-child(1)
{
	background:#77C9D4!important;
}
.color11 span:nth-child(2)
{
	background:#57BC90!important;
}
.color11 span:nth-child(3)
{
	background:#015249!important;
}
.color11 span:nth-child(4)
{
	background:#A5A5AF!important;
}



.color12 span
{
	height:15px;
	float:left;
	width:100%
}

.color12 span:nth-child(1)
{
	background:#DCC7AA!important;
}
.color12 span:nth-child(2)
{
	background:#F7882F!important;
}
.color12 span:nth-child(3)
{
	background:#F7C331!important;
}
.color12 span:nth-child(4)
{
	background:#6B7A8F!important;
}



.color13 span
{
	height:15px;
	float:left;
	width:100%
}

.color13 span:nth-child(1)
{
	background:#0F1626!important;
}
.color13 span:nth-child(2)
{
	background:#AB987A!important;
}
.color13 span:nth-child(3)
{
	background:#FF533D!important;
}
.color13 span:nth-child(4)
{
	background:#666666!important;
}




.color14 span
{
	height:15px;
	float:left;
	width:100%
}

.color14 span:nth-child(1)
{
	background:#CF6766!important;
}
.color14 span:nth-child(2)
{
	background:#031424!important;
}
.color14 span:nth-child(3)
{
	background:#30415D!important;
}
.color14 span:nth-child(4)
{
	background:#8EAEBD!important;
}


.color15 span
{
	height:15px;
	float:left;
	width:100%
}

.color15 span:nth-child(1)
{
	background:#E4B600!important;
}
.color15 span:nth-child(2)
{
	background:#C7DB00!important;
}
.color15 span:nth-child(3)
{
	background:#F78B2D!important;
}
.color15 span:nth-child(4)
{
	background:#7AA802!important;
}



.color16 span
{
	height:15px;
	float:left;
	width:100%
}

.color16 span:nth-child(1)
{
	background:#336b87!important;
}
.color16 span:nth-child(2)
{
	background:#763626!important;
}
.color16 span:nth-child(3)
{
	background:#90afc5!important;
}
.color16 span:nth-child(4)
{
	background:#763626!important;
}


}
