buynow {

.buynow span
{
    width: 100%;
    float: left;
    text-align: center;
    color: #fff ;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
}

.item-md p{

	white-space: normal;
}


.buynow p
{
    font-size: 18px;
    padding: 5px 15px;
    text-align: center;
}



}
