<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OILS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="opensearchpage()">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="subcategory">

<div *ngFor="let data of getList | orderby : 'eo': false" >
 <ion-list no-lines *ngIf="data.eo!=''" (click)="openoilsdetailpage(data)" 
 [style.background]=data.color>
  <button ion-item >
    {{data.eo | capitalize}} | {{data.scientific_name | capitalize}} 
    <ion-icon name="arrow-forward"></ion-icon>
  </button> 
 </ion-list>
</div>

 
  <ion-list no-lines *ngIf="Isdata" style="background : #f1b136">
  <button ion-item>
    No Data
  </button> 
 </ion-list>


</ion-content>