.about-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

  .subcategorys
  {
    font-size:24px!important;
    text-align:center!important;
    
  }

  .subcategorys ion-list
  {
    padding:50px 10px!important;
    text-shadow: 1px 1px 2px #000;
    font-weight: 400;
    font-size: 30px;
  }

    .subcategorys ion-list img
  {
  width:36px!important;
  }

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}
